@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    background-color: #e8e5da;
}

*, *::before, *:after {
    box-sizing: inherit;
}

h1, 
h2 {
    text-align: center;
}

.size {
	width: 4em;
    margin-bottom: .5em;
}

.masthead {
    background: url(../images/masthead-bg.png) repeat left center;
    text-align: center;
    padding: 0;
    margin: 0;
}

.logo {
    margin: 0 0.2em 0 0;
    width:1.2em;
    vertical-align: middle;
}

.weight {
    font-weight: 100;
}

.img-flex {
    display: block;
    width: 100%;
}

.current {
    border-image: url(../images/frame.svg) 25 25 25 25 stretch stretch;
    border-width: 20px 20px 20px 20px;
}

.middle {
    background-color: #87714f;
    padding: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    color: #fff;
}

.title {
    background-color: #e8e5da;
    display: inline-block;
    text-shadow: 2px 3px 0 #c0bfbf;
}

.grid {
    text-align: center;
}