@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    background-color: #e8e5da;
}

*, *::before, *:after {
    box-sizing: inherit;
}

h1, 
h2 {
    text-align: center;
}

.size {
	width: 70px; 
	height: 60px;
    text-align: center;
}

.masthead {
    background: url(../images/masthead-bg.png) repeat left center;
    text-align: center;
}

.img-flex {
    display: block;
    width: 100%;
}

.current {
    background-image: url(../assets/frame.svg);
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    background-size: 32px 32px, 16px 16px;
}

.middle {
    background-color: #87714f;
    padding: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    color: #fff;
}

.title {
    background-color: #e8e5da;
    display: inline-block;
}